/*设置body背景图片*/
body{
	background: url(../img/body-bg.png) repeat-x;
	height:3000px;
}

.w {
	width: 940px;
	margin: 0 auto;
}

/*解决高度塌陷和垂直外边距问题*/
.clearfix:before ,
.clearfix:after {
	display: table;
	clear: both ;
	content: "";
}
.clearfix {
	zoom:1 ;
}

.header {
	/*background-color: yellow;*/
	padding-top: 37px;
	padding-bottom: 46px;
	
}

.logo {
	padding-left: 15px;
}

.nav {
	float: right;
	padding-top: 23px;
	/*background-color: red;*/
}

.nav li {
	float: left;
	padding: 0 10px 8px;
	border-left: 1px dotted #d6d6d6;
	
}

.nav a {
	color:#666666;
	font: bold 14px Georgia;
	text-decoration: none;
}

.nav a:hover {
	color: #a8a8a8;
	text-decoration: underline;
}

.nav p {
	color: #b7b7b7;
	font: 11px Tahoma;
}
/*以上为header样式*/
/*banner样式*/
.banner {
	height: 355px;
	background: url(../img/banner-bg.png) no-repeat bottom center;
	position: relative ;
}

.pointer {
	position: absolute ;
	bottom: 26px ;
	left: 15px ;
}
.pointer a {
	width:17px ;
	height:17px ;
	float:left ;
	background: url(../img/pointer.png) no-repeat;
	margin-left:4px;
	

}

.pointer .active,
.pointer a:hover {
	background: url(../img/pointer-active.png) no-repeat ;
}
/*设置content部分*/

.content h1 {
	text-align:center ;
	font: bold 24px Georgia ;
	padding-top:10px ;
	background: url(../img/content-h1-bg.png) no-repeat bottom center;
	padding-bottom:25px ;
	margin-bottom:38px;
}

.content .pl , .content .cs , .content .uc {
	width:300px ;
	float:left;
/*	background-color:red;*/
}
.content .cs {
	margin:0 20px ;
}

.content h2 {
	font: 21px Georgia;
	color:#11719e ;
}

.content .p1 {
	font: 12px Helvetica;
	color: #8c8c8c ;
	margin-bottom:13px;
}
.content .picture {
	background: url(../img/picture-bg.png) no-repeat ;
	width: 299px ;
	height: 190px ;
	text-align: center;
	padding-top:12px;
	
}

.content .p2 {
	margin-top:12px ;
	height:90px ;
	overflow: auto;
	margin-bottom:13px ;
	color:#3e3e3e ;
	font:12px/18px Helvetica ;
	word-spacing:6px;
}

.content .button1 {
	display:block;
	width:163px;
	height:40px ;
	background: url(../img/button1.png) no-repeat;
	font: 12px/40px Helvetica;
	color:#016999;
	text-decoration:none;
	text-indent:1em;
	margin-bottom:31px;
}

.content .button1:hover {
	color:#02a5f0;
	
}